@using BlazorAnimate
@using Portfolio.Models
@using Portfolio.Services

@page "/"

@code
{
    public static ProjectService ProductService = new ProjectService();

    public List<Project> Projects { get; private set; }

    public int ActiveIndex = 0;
    protected override async Task OnInitializedAsync()
    {
        Projects = ProductService.GetAll();
    }

    public void SafeIncrement()
    {
        if (ActiveIndex + 1 < Projects.Count) ActiveIndex++;
        else ActiveIndex = 0;
    }
    public void SafeDecrement()
    {
        if (ActiveIndex - 1 < 0) ActiveIndex = Projects.Count - 1;
        else ActiveIndex--;
    }
}
<div class="jumbotron texture-background mb-0 rounded-0">
    <div class="background-grey p-4 mb-0 rounded-lg shadow-lg border border-dark">
        <!--<p class="lead"></p>
        <hr class="my-4"> -->
        <div class="row">
            <div class="col-lg-12 col-xl-7 p-4 text-md-center">
                <h2 style="color: #00274C; font-weight: 700; font-size: 2.5rem; font-family: 'Roboto', serif;">Hi there,</h2>
                <div class="px-4">
                    <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                        I'm Tyler, an early-career Android-focused software engineer. Currently, I'm an Android Engineering Intern at Strava developing new features for athletes utilizing Kotlin, XML, JUnit, Mockito, Dagger, Retrofit and other technologies.
                    </p>     
                    <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                        After graduating from the University of Michigan with a Chemistry degree, my career took a turn when I found a passion for developing HTML/CSS SharePoint intranet sites - something very much in demand at my company. Shortly after, I opted to pivot my career and enroll in the computer science program at EMU, where I maintain a 4.0 GPA and will graduate in early 2023.
                    </p>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                        Whether it's low-level robotics, C# videogame plug-ins, or Jetpack Compose apps, I enjoy working on a broad range of software development projects - some of which are featured on this site. I'm a creative person, I love making things for people to use; programming is the best medium I've found to pair those two.
                    </p>
                    <img width="400rem" class="mt-4" fill="#00274C;" src="Siggy3.svg" />
                </div>
            </div>
            <div class="col-lg-12 col-xl-5 justify-content-center text-center">

                <img class="rounded-circle shadow-md p-0 m-5" style="border: 0.7rem solid #FFCB05;" width="400rem" height="auto" src="headshotthumb.png" />
            </div>
        </div>
    </div>

</div>

<div class="row  justify-content-center mt-0 p-4" style="background-color: #FFCB05;">
    <div class="col-xl-8 p-4 m-2   rounded-lg shadow-lg bg-white sketchyWhite">
        <div class="row">
            <div class="col-md-5 pl-2 pr-4 text-center justify-content-center" style="display: flex; align-items: center">
                <!--     <h1 class="mb-3 mt-2" style="letter-spacing: -0.10rem; color: #00274C; font-weight: 500; font-size: 4rem; font-family: 'Roboto', serif;">My Projects.</h1> -->
                <svg class="button-next swing my-2" @onclick="SafeDecrement" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" /></svg>
                <img style="border: 3px solid #00274c;" width="250rem" src="@Projects[ActiveIndex].PictureUrl" />
                <svg class="button-next swing my-2" @onclick="SafeIncrement" width="50" height="50" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" /></svg>
            </div>
            <div class="col-md-7 p-4 my-4 align-content-center justify-content-center">
                <h2 style="color: #00274C; font-weight: 700; font-size: 2.5rem; font-family: 'Roboto', serif;">@Projects[ActiveIndex].Name</h2>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                    @Projects[ActiveIndex].Description
                </p>
                <div style="font-family: 'Roboto', sans-serif; font-size: 4.0rem; display: flex; align-items: center">
                    @{
                        if (@Projects[ActiveIndex].PlayStoreUrl != null)
                        {
                            <a href='@Projects[ActiveIndex].PlayStoreUrl'><img alt='Get it on Google Play' height="75" src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' /></a>
                        }
                    }
                    <a href="@Projects[ActiveIndex].GithubUrl">
                        <img height="50" src="GitHub_Logo.png">
                    </a>


                </div>
                <!-- <h4>
         @{
             foreach (string[] tag in Projects[ActiveIndex].Tags)
             {
                 <a href="@tag[0]"><span class="badge badge-tag p-2 mx-0 my-1">@tag[1]</span></a>
             }
         }
     </h4>-->
            </div>
        </div>
    </div>

    <div class="col-xl p-4 m-2 rounded-lg shadow-lg sketchy foo ">
        <div class="row">
            <div class="col p-4 my-4">
                    <h2 style="color: #00274C; font-weight: 700; font-size: 2.5rem; font-family: 'Roboto', serif;">Contact Me</h2>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;"><i class="fas fa-envelope"></i> <a href="mailto: tylerlopez@gmail.com">tylerlopezmi@gmail.com</a></p>
                        <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;"><i class="fas fa-phone-square-alt"></i> (989) 964-8982</p>
                    </div>
                </div>
            </div>
        </div>
