@using BlazorAnimate
@using Portfolio.Models
@using Portfolio.Services

@page "/"

@code
{
    public static ProjectService ProductService = new ProjectService();

    public List<Project> Projects { get; private set; }

    public int ActiveIndex = 0;
    protected override async Task OnInitializedAsync()
    {
        Projects = ProductService.GetAll();
    }

    public void SafeIncrement()
    {
        if (ActiveIndex + 1 < Projects.Count) ActiveIndex++;
        else ActiveIndex = 0;
    }
    public void SafeDecrement()
    {
        if (ActiveIndex - 1 < 0) ActiveIndex = Projects.Count - 1;
        else ActiveIndex--;
    }
}
<div class="jumbotron texture-background mb-0">
    <div class="background-grey p-4 mb-0 rounded-lg shadow-lg border border-dark">
        <!--<p class="lead"></p>
        <hr class="my-4"> -->
        <div class="row">
            <div class="col-lg-12 col-xl-7 text-md-center">
                <h1 style="color: #00274C; font-weight: bolder; font-size: 4rem; font-family: 'Roboto Slab', serif;">Hi there.</h1>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">I am a motivated to succeed, Early-Career Android Developer with a proven record for creativity, learning new technologies efficiently, and excellent communication with stakeholders.</p>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                    After earning my B.S. in Chemistry from the University of Michigan, my career quickly pivoted from laboratory work towards information technology as a SharePoint Consultant due to a found love for developing intranet sites.
                    In 2020, I committed towards branching-out and the pursuit of my passion of software engineering, enrolling in Eastern Michigan University's Computer Science program - maintaining a 4.0 GPA.
                </p>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                    I have numerous hobbyist projects, some of which are published on the Google Play Store. Personal development is something which I take very seriously and I follow the latest best practices in Android Development by investing substantial time in myself for education.
                </p>
                <img width="400rem" class="mt-4 mb-3" fill="#00274C;" src="Siggy.svg" />
            </div>
            <div class="col-lg-12 col-xl-5 justify-content-center text-center">

                <img class="rounded-circle shadow-lg p-0 m-5" style="border: 0.7rem solid #FFCB05;" width="400rem" height="auto" src="headshot.jpg" />
            </div>
        </div>
    </div>

</div>

<div class="row mt-0 p-4" style="background-color: #FFCB05;">
    <div class="col-8 p-4 m-2 bg-light rounded-lg shadow-lg border border-white">
        <h1 style="color: #00274C; font-weight: bolder; font-size: 4rem; font-family: 'Roboto Slab', serif;">My projects.</h1>
        <div class="row py-4">
            <div class="col-5 py-2 px-2 text-center justify-content-center">
                <svg class="button-next swing my-2" @onclick="SafeDecrement"  xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"/></svg>
                <img width="250rem" src="@Projects[ActiveIndex].PictureUrl"/>
                <svg class="button-next swing my-2" @onclick="SafeIncrement" width="50" height="50" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
            </div>
            <div class="col-7">
                <h2 style="color: #00274C; font-weight: bold; font-size: 2.5rem; font-family: 'Roboto Slab', serif;">@Projects[ActiveIndex].Name</h2>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                    @Projects[ActiveIndex].Description
                </p>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;">
                    <a href="@Projects[ActiveIndex].GithubUrl">
                        <i class="fab fa-github"></i> See it on GitHub
                    </a>
                </p>
                
                <h4>
                @{
                        foreach (string tag in Projects[ActiveIndex].Tags)
                        {
                            <span class="badge badge-tag p-2 mx-0 my-1">@tag</span>
                        }
              } </h4>
            </div>
        </div>
    </div>

    <div class="col p-4 m-2 bg-light rounded-lg shadow-lg border border-white foo">

        <h1 style="color: #00274C; font-weight: bolder; font-size: 4rem; font-family: 'Roboto Slab', serif;">Contact me.</h1>
        <div class="row py-4">
            <div class="col">
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;"><i class="fas fa-envelope"></i> <a href="mailto: tylerlopez@gmail.com">tylerlopezmi@gmail.com</a></p>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;"><i class="fas fa-envelope"></i> <a href="mailto: tlopez4@emich.edu">tlopez4@emich.edu</a></p>
                <p style="font-family: 'Roboto', sans-serif; font-size: 1.5rem;"><i class="fas fa-phone-square-alt"></i> (989) 964-8982</p>
            </div>
        </div>


    </div>
</div>
